html, body {
	font-size: 14px;
	outline: none !important;
}

/*
	Test
*/
button.test {
	position: fixed;
	top: 1px;
	left: 1px;
	width: 100px;
}
button#test2 {
	top: 30px;
}
button#test3 {
	top: 60px;
}
button#test4 {
	top: 90px;
}

/*
	Beers
*/
#rubric {
	background: #F9F9F9;
	border-right: 1px solid black;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

#beers {
	background: #F9F9F9;
}
.beersRubric {
	margin-left: 10px;
}
.search {
	margin-top: 16px;
}
.hideEmpty {
	margin-top: 16px;
}
.langFix {
	width: 100%;
	margin-left: 20px;
}

.checkboxClass{
	float: left;
}

.beer {
	position: relative;
	display: inline-block;
	margin: 10px;
	width: 30%;
	height: 100px;
	background: #ccc;
	padding: 10px;
	border-radius: 5px;
}

.beer__left {
	width: 70%;
	float: left;
}

.beer__right {
	width: 30%;
	float: right;
}

.beer__left > .beer__name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.beer__left > .beer__name2 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.beer__right > .beer__price {
	text-align: right;
}

.beer__right > .beer__count {
	text-align: right;
}
.beer__right > .sold-out {
	color: red;
	text-decoration: line-through;
}

/*
	Cart
*/
#cart {
	background: #F9F9F9;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#cart .beer {
	width: 88%;
	display: none;
}
/*cart__header*/
#cart .cart__header {
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.35);
}

#cart > .cart__header > h3 {
	display: inline-block;
	margin: 0;
}
#cart > .cart__header > .sum {
	float: right;
}
#cart > .cart__header img {
	width: 25px;
	height: auto;
	vertical-align: sub;
}
#cart > .cart__header span {
	margin: 0 8px;
	font-size: 150%;
}
/*cart__controls*/
#cart > .cart__controls {
    padding: 10px 0;
    border-bottom: 1px solid black;
    height: 55px;
}
#cart button.cancel {
	width: 75px;
	float: left;
}
#cart button.pay {
	width: 75px;
	float: right;
}
/*cart__bucket*/
#cart .cart__bucket {
	min-height: 250px;
	max-height: 70vh;
	padding-bottom: 40px;
	padding-right: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}
#cart .beer .beer__left .beer__control {

}
#cart .beer .add,
#cart .beer .sub,
#cart .beer .remove {
	width: 25px;
	height: 25px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: -30px;
	transition: all 50ms ease;
}
#cart .beer .add:active,
#cart .beer .sub:active,
#cart .beer .remove:active {
	transform: scale(1.1);
}
#cart .beer .add {
	background: url("../img/add.svg") no-repeat center center;
	background-size: 100%;
	top: 30px;
	background-color: green;
	border-radius: 50%;
}
#cart .beer .sub {
	background: url("../img/sub.svg") no-repeat center center;
	background-size: 100%;
	top: 60px;
	background-color: yellow;
	border-radius: 50%;
}
#cart .beer .remove {
	background: url("../img/remove.svg") no-repeat center center;
	background-size: 100%;
	top: 0;
	background-color: red;
	border-radius: 50%;
}
/*cart__undoRedo*/
#cart > .cart__undoRedo{
	background-color: white;
	padding-top: 30px;
	padding-bottom: 50px;
	border-top: 1px solid black;
}
.undo-btn {
  float: left;
}
.undo-btn a {
  cursor: pointer;
  position: relative;
  padding: 8px 18px;
  border: 1px solid #204156;
	border-radius: 5px;
}
.undo-btn a:active {
	top: 2px;
}
.redo-btn {
  float: right;
}
.redo-btn a {
  cursor: pointer;
	position: relative;
  padding: 8px 18px;
  border: 1px solid #204156;
	border-radius: 5px;
}
.redo-btn a:active {
	top: 2px;
}



/*
	Modal
*/
ul.modal-list {
	padding: 0;
	list-style: none;
}
.addb {
	margin: 0 5px 5px 0;
}

/*Admin panel*/
.adminPanel{
    display: none;
}
body[data-admin="true"] .adminPanel{
    display: block;
    clear: both;
    padding-bottom: 1.5em;
    margin: 10px;
}
body[data-admin="true"] .mainControl.adminPanel{
    background-color: white;
    border: 1px dashed rgba(17, 68, 33, 0.75);
    width: 95%;
    height: auto;
}
.adminPanel .beer__left, .mainControl.adminPanel .beer__right{
    width: auto;
    float: left;
}
.mainControl.adminPanel > button{
    display: block;
    clear: both;
    float: none;
}
