@charset "UTF-8";
.chooseLanguage {
    text-align: center;
}
.chooseLanguage img{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    opacity: 0.5;
    cursor: pointer;
}
.chooseLanguage img:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,1);
    opacity: 1;
}
.chooseLanguage img.active{
    opacity: 1;
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
    margin: 8px;
}